// colors

$green: #687864;
$blue: #31708E;
$blue2: #5085A5;
$blue3: #8FC1E3;
$white: #F7F9FB;

$backgroundcolor: #ffffffbe;

.page {
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        padding: 0;
        flex-grow: 1;
        min-height: 100vh;
    }