
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

html, body {
    font-family: kalam;
    background-color: #333;
    overflow: auto;
    margin: 0;
    height: 100%;
    width: 100%;
}

#root {
    min-height: 100%;
}