
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: kalam;
    /* background-color: #333; */
    /* background-image: url("./pictures/test.JPG"); */
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* background-color: white; */
  
    margin: 0;
    height: 100%;
    width: 100%;
}